// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-bottom
    .container.px-4.px-lg-5
        a.navbar-brand(href='#!') Home
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false' ,aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href='#!') Home
                li.nav-item
                    a.nav-link(href='#!') About
                li.nav-item
                    a.nav-link(href='#!') Services
                li.nav-item
                    a.nav-link(href='#!') Contact