// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
    .container.px-4.px-lg-5
        a.navbar-brand(href='index.html') Home
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false' ,aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='conservedlands.html') Conserved Lands
                li.nav-item
                    a.nav-link(href='cejst.html') CEJST
                li.nav-item
                    a.nav-link(href='ejscreen.html') EJSCREEN
                li.nav-item
                    a.nav-link(href='contact.html') Contact