extends layout

block content
    .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5
            .col-lg-6
                h1 Contact
                p For more information contact #[a(href="mailto:pem207@duck.com") pem207@duck.com].