extends layout

block content
    // Page Content
    section
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5
                .col-lg-6
                    h1.mt-5 Sierra Club Maine Projects
                    p Created by Philip Mathieu
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.