extends layout

block content
    // Page Content
    section
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5
                .col-lg-6
                    h1.mt-5 Sierra Club Maine Projects
                    p
                        | This is the landing page for various projects that I am working on in conjunction with Sierra Club Maine. While this website is public, it should be considered in development and not intended for public use or distribution. All content is (c) 2023 Philip Mathieu except where otherwise noted and may not be reproduced without permission. The content of this website has not been reviewed or endorsed by Sierra Club or Sierra Club Maine.